<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.counting_trainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Counting_trainer">
        <activity android:name=".firstStart.FirstResult"></activity>
        <activity android:name=".firstStart.ChooseActivity" />
        <activity android:name=".firstStart.WelcomeActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".LvlupActivity" />
        <activity android:name=".TrainingActivity" />
        <activity android:name=".TheoryActivity" />
        <activity android:name=".FullStatistics" />
        <activity android:name=".TrainingStatistics" />
        <activity android:name=".StatisticsMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>